@keyframes move {
  0% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(1.4);
  }
}
body {
  background-color: lightblue;
  margin: 0;
}

.items-container {
  display: grid;
  grid-template-columns: repeat(21, 1fr);
  grid-template-rows: 1fr;
  height: 100vh;
}

.item:nth-child(1) {
  background: linear-gradient(to bottom right, #f5b8f5, #ec75ec);
  height: 29vh;
  border-radius: 0 0 47px 47px;
  transform-origin: 0 0;
  animation-name: move;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.item:nth-child(2) {
  background: linear-gradient(to bottom right, white, #e95ae9);
  height: 20vh;
  border-radius: 0 0 57px 39px;
  transform-origin: 0 0;
  border-radius: 0 0 60px 12px;
  background: linear-gradient(to top right, #8c00f2, #3f006e);
  animation-name: move;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.item:nth-child(3) {
  background: linear-gradient(to bottom right, #fadcfa, #e95ae9);
  height: 19vh;
  border-radius: 0 0 41px 12px;
  transform-origin: 0 0;
  border-radius: 0 0 29px 31px;
  background: linear-gradient(to top right, #8080ff, #0000e6);
  animation-name: move;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.item:nth-child(4) {
  background: linear-gradient(to bottom right, #fefbfe, #ea63ea);
  height: 56vh;
  border-radius: 0 0 56px 44px;
  transform-origin: 0 0;
  border-radius: 0 0 25px 36px;
  background: linear-gradient(to top right, #008500, #007b00);
  animation-name: move;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.item:nth-child(5) {
  background: linear-gradient(to bottom right, #fdf2fd, #e95ae9);
  height: 29vh;
  border-radius: 0 0 28px 40px;
  transform-origin: 0 0;
  border-radius: 0 0 46px 33px;
  background: linear-gradient(to top right, #ffff85, #d1d100);
  animation-name: move;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.item:nth-child(6) {
  background: linear-gradient(to bottom right, #f9d3f9, #ed79ed);
  height: 33vh;
  border-radius: 0 0 36px 21px;
  transform-origin: 0 0;
  border-radius: 0 0 27px 11px;
  background: linear-gradient(to top right, #ffe4b3, #cc8400);
  animation-name: move;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.item:nth-child(7) {
  background: linear-gradient(to bottom right, #f8caf8, #ec75ec);
  height: 52vh;
  border-radius: 0 0 39px 15px;
  transform-origin: 0 0;
  border-radius: 0 0 22px 21px;
  background: linear-gradient(to top right, #ff2e2e, #e60000);
  animation-name: move;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.item:nth-child(8) {
  background: linear-gradient(to bottom right, #f3a6f3, #e855e8);
  height: 15vh;
  border-radius: 0 0 36px 16px;
  transform-origin: 0 0;
  animation-name: move;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.item:nth-child(9) {
  background: linear-gradient(to bottom right, #fadcfa, #ed79ed);
  height: 65vh;
  border-radius: 0 0 32px 22px;
  transform-origin: 0 0;
  border-radius: 0 0 39px 23px;
  background: linear-gradient(to top right, #980dff, #450078);
  animation-name: move;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.item:nth-child(10) {
  background: linear-gradient(to bottom right, #f3a6f3, #ea67ea);
  height: 24vh;
  border-radius: 0 0 29px 21px;
  transform-origin: 0 0;
  border-radius: 0 0 17px 27px;
  background: linear-gradient(to top right, #3838ff, #0000e6);
  animation-name: move;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.item:nth-child(11) {
  background: linear-gradient(to bottom right, white, #ea63ea);
  height: 42vh;
  border-radius: 0 0 46px 16px;
  transform-origin: 0 0;
  border-radius: 0 0 54px 37px;
  background: linear-gradient(to top right, #009a00, #007600);
  animation-name: move;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.item:nth-child(12) {
  background: linear-gradient(to bottom right, #fad7fa, #ea63ea);
  height: 12vh;
  border-radius: 0 0 12px 57px;
  transform-origin: 0 0;
  border-radius: 0 0 17px 54px;
  background: linear-gradient(to top right, #ffffc7, #dbdb00);
  animation-name: move;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.item:nth-child(13) {
  background: linear-gradient(to bottom right, #fadcfa, #ec70ec);
  height: 41vh;
  border-radius: 0 0 13px 36px;
  transform-origin: 0 0;
  border-radius: 0 0 11px 31px;
  background: linear-gradient(to top right, #ffac14, #f59e00);
  animation-name: move;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.item:nth-child(14) {
  background: linear-gradient(to bottom right, #ef86ef, #ed79ed);
  height: 45vh;
  border-radius: 0 0 14px 16px;
  transform-origin: 0 0;
  border-radius: 0 0 51px 42px;
  background: linear-gradient(to top right, #ff5c5c, #e60000);
  animation-name: move;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.item:nth-child(15) {
  background: linear-gradient(to bottom right, white, #ec70ec);
  height: 13vh;
  border-radius: 0 0 49px 47px;
  transform-origin: 0 0;
  animation-name: move;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.item:nth-child(16) {
  background: linear-gradient(to bottom right, #f5b3f5, #ed7eed);
  height: 52vh;
  border-radius: 0 0 51px 23px;
  transform-origin: 0 0;
  border-radius: 0 0 57px 16px;
  background: linear-gradient(to top right, #8c00f2, #390063);
  animation-name: move;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.item:nth-child(17) {
  background: linear-gradient(to bottom right, #fbe0fb, #ec75ec);
  height: 49vh;
  border-radius: 0 0 47px 26px;
  transform-origin: 0 0;
  border-radius: 0 0 24px 44px;
  background: linear-gradient(to top right, #5c5cff, #0000db);
  animation-name: move;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.item:nth-child(18) {
  background: linear-gradient(to bottom right, #f5b8f5, #eb6ceb);
  height: 67vh;
  border-radius: 0 0 56px 58px;
  transform-origin: 0 0;
  border-radius: 0 0 36px 50px;
  background: linear-gradient(to top right, #009a00, #007b00);
  animation-name: move;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.item:nth-child(19) {
  background: linear-gradient(to bottom right, #f8cef8, #e95ae9);
  height: 33vh;
  border-radius: 0 0 59px 14px;
  transform-origin: 0 0;
  border-radius: 0 0 41px 35px;
  background: linear-gradient(to top right, #ffff66, #e6e600);
  animation-name: move;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.item:nth-child(20) {
  background: linear-gradient(to bottom right, white, #eb6ceb);
  height: 49vh;
  border-radius: 0 0 33px 56px;
  transform-origin: 0 0;
  border-radius: 0 0 28px 51px;
  background: linear-gradient(to top right, #ffedcc, #e69500);
  animation-name: move;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.item:nth-child(21) {
  background: linear-gradient(to bottom right, #fad7fa, #e95ae9);
  height: 36vh;
  border-radius: 0 0 52px 57px;
  transform-origin: 0 0;
  border-radius: 0 0 32px 50px;
  background: linear-gradient(to top right, #ff8f8f, #d10000);
  animation-name: move;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

/*# sourceMappingURL=main.css.map */
